@import "tailwindcss";

@layer base {
  body {
    background-color: #0F0F11;
    color: #E4E4E7;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom dark scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0F0F11;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272A;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3F3F46;
  }
}
